
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <form  asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index","Home",new { area = ""})">
                <button class="nav-link border-0 bg-dark"  type="submit" class="nav-link">se deconnecter</button>
            </form>
        </li>
    }
    else
    {
        <li class = "nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Se connecter</a>
        </li>
    }
