@{
    ViewData["Title"] = "Page d'accueil";
}

<div class="container text-center flex-column">
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Volley Damois</h1>
            <p class="lead my-3">Un tournois de beach volley Accessible à tous</p>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6 ">
            <div class="text-white rounded bg-dark px-4">
                <h2 class="font-italic">Qui sommes nous ?</h2>
                <p>lorem ipsum</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-white rounded bg-dark">
                <h2 class="font-italic">Qui sommes nous ?</h2>
                <p>lorem ipsum</p>
            </div>
        </div>
    </div>
    

</div>
